html {
    font-family: "fb_jabutinski", "Segoe print";
}

body {
    background-image: url("../img/img5.jpg");
    background-size: cover;
}
.enter_hide {
    display: none;
}
@keyframes enter_hide {
    25% {
        transform: scale(0.3)
    }

    50% {
        transform: scale(2)
    }

}
form {
    margin-top: 10vh;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    animation-name: enter_hide;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    width: 50vw;
    height: 80vh;
    margin-left: 25vw;
    background-color: rgb(0, 177, 252);
    color:blueviolet;
    font-weight: bolder;
}
div{
    margin-top: 1vh;
    font-size: 2rem;
    color: rgb(255, 5, 134);
    height: 30vh;
}
#enter_page_id {
    text-align: center;
    font-size: 2.5rem;
    background-color:  rgb(247, 247, 247);
    color:rgb(0, 177, 252) ;
    font-family: "fb_jabutinski", "Segoe print";
}

#enter_page_password {
    text-align: center;
    font-size: 2.5rem;
    background-color:  rgb(247, 247, 247);
    color:rgb(0, 177, 252) ;
    font-family: "fb_jabutinski", "Segoe print";
}

.enter_page_button {
    text-align: center;
    font-size: 2.5rem;
    width: 30vw;
    margin-left: 10vw;
    background-color:  rgb(0, 0, 0);
    color:rgb(255, 255, 255) ;
    font-family: "fb_jabutinski", "Segoe print";
}
#logo {
    margin-top: -6vh;
    margin-right: 1vw;
    float: right;
    border: 10px;
    border-radius: 60px;
    color: rgb(89, 255, 0);
    text-align: center;
    background-color: rgb(255, 77, 0);
    width: 13vw;
    height: 22vh;
    font-size: 2rem;
}
h5{
    margin-top: 0px;
    color: black;
}
a{
    font-size: 2rem;
    font-family: "fb_jabutinski", "Segoe print";
    color:rgb(255, 5, 134);
}
#enter_page_title{
    font-size: 3rem;
}
#enter_page_link{
    margin-top: 5vh;
}
@media screen and (max-width:1400px){
    #logo {
        width: 20vw;
        height:16vh;
        font-size: 1.5rem;
    }  
    a{
        font-size: 1.5rem; 
    }
    div{
        font-size: 1.5rem;  
    }
    #enter_page_title{
        font-size: 2rem;
    }
}